.main {
  width: 100%;
  min-width: 100%;
}

.section-1 {
  margin-top: 8rem;
  padding: 0 88px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
}

.sec1-container {
  padding-top: 6rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
  gap: 0;
  position: relative;
  min-height: 51.5rem;
  height: 100%;
}

.sec1-container::before {
  background-color: #6685ba;
  display: initial;
  width: 100vw;
  height: 0.0625rem;
  content: "";
  position: absolute;
  top: 0;
  right: 6rem;
}

.section-1 h1 {
  font: 700 8.5rem / 7.5rem "Exo";
}

.outline {
  -webkit-text-fill-color: #f6faff;
  font-feature-settings: none;
  font-variant-ligatures: none;
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: 1.5px;
  font-style: italic;
}

.section-1-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  max-height: 51.5rem;
}

.sec1-darkmask {
  width: 58.3333333333%;
  z-index: 1;
}

.sec1-mask {
  width: 41.6666666667%;
  z-index: 1;
}

.section-1-vid {
  border-top: 0.0625rem solid #6685ba;
  border-right: 0.0625rem solid #6685ba;
  width: 100%;
  background-color: #00235d;
  grid-column: 8 / span 5;
  grid-row: initial;
  position: absolute;
  height: 100%;
  z-index: 0;
  object-fit: cover;
  min-height: 400px;
  right: 0;
  top: 0;
  overflow: hidden;
  border-top-right-radius: 6rem;
  max-height: 51.5rem;
}

.sec1-vid {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: top center;
  opacity: 0.8;
}

.section-1-content {
  grid-column: span 12;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  /* z-index: 1; */
  grid-template-columns: repeat(12, 1fr);
}

.section-1 p {
  margin-top: 8px;
}

.section-1 p:first-of-type {
  margin-top: 0;
}

#darkmask,
#mask {
  display: initial;
}

.darkcontent {
  grid-column: span 12;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  /* z-index: 1; */
  /* grid-template-columns: repeat(12, 1fr); */
  clip-path: url(#darkmask);
  overflow: hidden;
}
.lightcontent {
  grid-column: span 12;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  z-index: 2;
  position: absolute;
  color: currentColor;
  clip-path: url(#mask);
}

.lightcontent span {
  -webkit-text-fill-color: transparent;
}
.lightcontent h1 {
  color: #fff;
}

.darkcontent h1 {
  z-index: 1;
}

.content-wrapper {
  grid-column: span 12;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
}

.section-2 {
  padding: 10rem 0;
  background-color: #00358d;
  border-top-left-radius: 2.5rem;
  display: block;
  position: relative;
  height: auto;
  transition: all 0.3s ease;
}

.section-2-container {
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  padding: 0 88px;
}

.section-2-carousel-container {
  color: #fff;
  grid-column: span 5;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  text-align: start;
  grid-gap: 0;
  gap: 0;
  margin-bottom: 4rem;
  align-items: flex-start;
}

.section-2-content {
  gap: 0;
  grid-column: span 7;
  margin-top: -2.5rem;
  grid-row: span 2;
  padding-top: 7.5rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: fit-content;
}

.section-2-content-item {
  padding: 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  justify-content: flex-start;
}

.section-2-content-item-container {
  cursor: pointer;
}

.section-2-content-item h2 {
  font: 400 2rem / 3rem "Schibsted Grotesk";
  color: #fff;
}

.section-2-content-item-text {
  font: 400 1rem/2rem "Schibsted Grotesk";
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.section-2 .section-2-content-item-text p {
  max-height: 500px;
  transition: all 0.5s ease;
}

.section-2-line {
  width: 100%;
  height: 0.125rem;
  background-color: #335da3;
  margin-top: 2rem;
}

.line {
  width: 100%;
  height: 0.125rem;
  background-color: #335da3;
}

.section-2-carousel-container p {
  grid-column: span 5;
  font: 500 4.5rem/5rem "Exo";
  text-align: start;
  margin-bottom: 3.5rem;
}

.section-2-carousel-imagesection {
  grid-column: span 4;
  position: relative;
  z-index: 1;
  min-height: 14.5rem;
  min-width: 100%;
}

.sec2-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 14.5rem;
  display: flex;
  /* opacity: 0; */
  transition: all 0.3s ease-out;
  transition-delay: 0.2s;
  box-shadow: 0 0 40px 0 rgba(0, 35, 93, 0.18);
}

.s2img1 {
  margin-top: 0;
}

.s2img2 {
  margin-top: 4rem;
}

.s2img3 {
  margin-top: 8rem;
}

.s2img4 {
  margin-top: 12rem;
}

.sec2-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-3 {
  margin-block: 7.5rem;
  padding-left: 88px;
  padding-right: 88px;
  width: 100%;
  max-width: 119.375rem;
  min-height: 100%;
  position: relative;
}

.section-3-container {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  padding: 5rem 0;
  position: relative;
}

.section-3-content {
  grid-column: span 10;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  position: relative;
  z-index: 1;
  padding-bottom: 3.5rem;
}

.section-3-content::after {
  content: "";
  position: absolute;
  display: block;
  top: 1rem;
  left: 11.25rem;
  width: calc(100% - 11.25rem);
  height: 100%;
  border-top: 0.0625rem solid #00112e;
  border-right: 0.0625rem solid #00112e;
  border-top-right-radius: 6rem;
  z-index: -1;
}

.sec3-content-title {
  grid-column: span 4;
  color: #00358d;
  font: 600 1rem / 2rem "Schibsted Grotesk";
  text-transform: uppercase;
}

.sec3-info {
  grid-column: span 7;
  color: #00112e;
  margin-top: 2.5rem;
  font: 400 2rem / 3rem "Schibsted Grotesk";
}

.sec3-info p a {
  text-decoration: underline;
  color: #335da3;
}

.sec3-btn-container {
  grid-column: span 10;
  margin: 1.5rem 0 0;
}

.sec3-btn {
  color: #00358d;
  border: 0.0625rem solid #99aed1;
  border-radius: 2rem;
  padding: 0.5rem;
  gap: 1rem;
  align-items: center;
  font: 600 1rem / 2rem "Schibsted Grotesk";
  display: flex;
  width: fit-content;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.sec3-btn:hover {
  color: #fff;
}

.sec3-btn:active {
  color: #ccd6e8;
}

.sec3-btn span {
  margin-left: 1.5rem;
  color: #00358d;
}

.sec3-btn-btn {
  padding: 0.5rem;
  background-color: #00358d;
  height: 100%;
  overflow: hidden;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.btn-icon {
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  min-height: 1rem;
  color: #fff;
}

.btn-icon svg {
  display: block;
}

@keyframes btn-3-animation {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(200%);
  }

  51% {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0);
  }
}

.sec3-btn:hover .btn-icon,
.section-k-darkcontent .sec3-btn-btn:hover .btn-icon {
  transform: scale(0.9);
  animation: btn-3-animation 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.sec3-btn:hover .sec3-btn-btn {
  background-color: #335da3;
  transform: scale(1.1);
}

.section-3-locations {
  grid-column: span 12;
}

.section-3-slide-wrapper {
  gap: 4.375rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.section-3-slider {
  gap: 5rem;
  display: flex;
  justify-content: center;
}

.section-3-slider-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #00112e;
  transition: all 0.3 ease-in-out;
}

.section-3-slider-img {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 1.5rem;
  background-color: #00358d;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.section-3-slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  opacity: 1;
  z-index: 1;
  color: transparent;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.section-3-slider-item:hover .section-3-slider-img img {
  opacity: 0;
}
.section-3-slider-img svg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.section-3-slider-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.1;
  height: 100%;
  border-radius: 1.5rem;
  background-color: #00358d;
  z-index: 3;
}

.section-3-slider-img::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.1;
  background-color: #00358d;
}

.section-3-slider-item h4 {
  width: max-content;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font: 600 2.5rem / 3rem "Exo";
}

.section-3-slider-item:hover h4 {
  -webkit-text-fill-color: transparent;
  font-variant-ligatures: none;
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: 1.5px;
}

.section-4 {
  margin-block: 7.5rem;
  padding: 0 88px;
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

.section-4-container {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  margin: 5rem 0;
}

.section-4-content {
  grid-column: 2 / span 5;
  align-self: center;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}

.section-4-content h3,
.section-5-content h3,
.section-6-content h3 {
  color: #00235d;
  font: 500 3.5rem / 4rem "Exo";
}

.section-4-content p,
.section-5-content p,
.section-6-content p {
  margin-bottom: 1.5rem;
  color: #00112e;
  font: 400 1.25rem / 2rem "Schibsted Grotesk";
}

.section-4-graphic {
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: unset;
  border-top-left-radius: 6rem;
  grid-column: 8 / span 5;
  width: 100%;
  max-width: 512px;
  margin: 0 auto;
  grid-row: 1;
  position: relative;
  background-color: #fff;
  transition: all 0.3s ease-out;
}

.section-4-vidwrapper {
  min-height: 528px;
  aspect-ratio: 968 / 847;
  height: 100%;
  width: 100%;
}

.section-4-vid {
  width: 100%;
  aspect-ratio: 968/847;
  height: auto;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  object-fit: fill;
  vertical-align: top;
}

.section-4-vid-item {
  width: 125%;
  /* left: 12.5%; */
  color: transparent;
  height: auto;
  aspect-ratio: 968/847;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.section-5 {
  margin-block: 11.5rem;
  overflow-y: hidden;
  padding: 0 88px;
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

.section-5-container {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  margin: 5rem 0;
  position: relative;
}

.section-5-background {
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  width: 72%;
  height: 100%;
  border-radius: 0;
  border-top-left-radius: 6rem;
  border-bottom-left-radius: 6rem;
  position: absolute;
  z-index: -1;
  background: radial-gradient(ellipse at center, #003690 0, #00235d 100%);
}

.section-5-content h3,
.section-5-content p,
.section-5-content span,
.section-7 span,
.section-9 span {
  color: #fff;
}

.section-5-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  align-self: center;
  grid-row: 1;
  grid-column: 8 / span 5;
}

.section-5-content .sec3-btn-btn,
.section-7 .sec3-btn-btn,
.section-9 .sec3-btn-btn {
  background-color: #fff;
}
.section-5-content .sec3-btn:hover .sec3-btn-btn,
.section-7 .sec3-btn:hover .sec3-btn-btn,
.section-9 .sec3-btn:hover .sec3-btn-btn {
  background-color: #ccd6e8;
}

.section-5-content .btn-icon,
.section-7 .btn-icon,
.section-9 .btn-icon {
  color: #00112e;
}

.section-5-graphic {
  background-color: transparent;
  overflow: visible;
  grid-column: 2 / span 5;
}

.section-5-vidwrapper {
  min-height: 528px;
  aspect-ratio: 968/847;
  height: 100%;
  width: 100%;
  position: relative;
}

.section-5-vidwrapper img {
  position: absolute;
  left: -10%;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-out;
}

.section-6 {
  margin-block: 7.5rem;
  padding: 0 88px;
  width: 100%;
  max-width: 119.375rem;
  position: relative;
  min-height: 100%;
}

.section-6-container {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  margin: 5rem 0;
  position: relative;
}

.section-6-content {
  grid-column: 2 / span 5;
  align-self: center;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}
.section-6-imgwrapper {
  overflow: hidden;
  border-bottom-right-radius: unset;
  border-bottom-left-radius: 6rem;
  grid-column: 8 / span 5;
  grid-row: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.section-6-imgwrapper img {
  width: 100%;
  height: 100%;
  aspect-ratio: auto 536/624;
}
.section-7 {
  margin-block: 7.5rem;
  padding: 0 88px;
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

.section-7-container {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  padding: 5rem 0;
  grid-gap: 0;
  gap: 0;
  position: relative;
}

.section-7-about {
  grid-column: span 12;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 3rem;
  min-height: 39rem;
  position: relative;
  align-items: flex-end;
}

.section-7-about-text {
  font: 700 6.5rem / 7rem "Exo";
  grid-column: span 8;
  z-index: 1;
  color: #fff;
}

.section-7-vidwrapper {
  width: calc(100% + 22 * 4px);
  right: 0;
  transform: translateX(0);
  border-top-right-radius: 6rem;
  border-top: 0.0625rem solid #99aed1;
  border-right: 0.0625rem solid #99aed1;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 0;
  height: 100%;
}

.section-7-vidwrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #00235d;
  opacity: 0.4;
}

.about-video {
  border-top-right-radius: 6rem;
  height: calc(100% + 12.5rem);
  overflow: hidden;
  width: calc(100% + 8 * 4px);
}

.section-7-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-7-content {
  grid-column: span 12;
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 3rem;
  padding-bottom: 5.5rem;
  border-bottom-right-radius: 6rem;
  border-bottom: 0.0625rem solid #99aed1;
  border-right: 0.0625rem solid #99aed1;
  grid-gap: 0;
  gap: 0;
  position: relative;
}

.section-7-content::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -0.0625rem;
  right: 6rem;
  width: 100vw;
  height: 0.0625rem;
  border-bottom: 0.0625rem solid #99aed1;
}

.section-7-content::after {
  background-color: #00112e;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.section-7-content-text {
  grid-column: span 8;
  z-index: 1;
  color: #fff;
  font: 500 4.5rem / 5rem "Exo";
  position: relative;
}

.section-7-content-text::before {
  background: linear-gradient(
    180deg,
    rgba(0, 17, 46, 0.72),
    hsla(0, 0%, 85%, 0)
  );
  content: "";
  position: absolute;
  display: block;
  top: -3rem;
  left: 0;
  width: 100%;
  height: 15.5rem;
  z-index: 1;
}
.section-7-info {
  grid-column: span 12;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 5rem;
  padding-bottom: 7rem;
  position: relative;
  margin-top: -0.0625rem;
}

.section-7-info::after {
  border-bottom-left-radius: 6rem;
  background-color: #00112e;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.section-7-info-text {
  grid-column: 5 / span 7;
  color: #fff;
  font: 400 1.25rem / 2rem "Schibsted Grotesk";
}

.section-7 .sec3-btn {
  margin-top: 3rem;
}

.section-8 {
  margin-block: 7.5rem;
  padding: 0 88px;
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

.section-8-container {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  padding: 0;
  position: relative;
}

.section-8-textwrapper {
  grid-column: span 5;
  display: flex;
  flex-direction: column;
  height: min-content;
  z-index: 2;
  position: relative;
  width: 100%;
}
.section-8-smalltitle {
  color: #00358d;
  font: 600 1rem / 2rem "Schibsted Grotesk";
}

.section-8-largetitle {
  color: #00235d;
  font: 500 4.5rem / 5rem "Exo";
}

.section-8 .sec3-btn {
  margin-top: 1.5rem;
}

.section-8-cardwrapper {
  grid-column: span 7;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: min-content;
  z-index: 2;
  position: relative;
  width: 100%;
  perspective: 1200px;
}

.section-8-card {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
  background-color: #fff;
  border-bottom-right-radius: 2.5rem;
  box-shadow: -8px 4px 40px 0 rgba(0, 35, 93, 0.08);
  z-index: 1;
  overflow: hidden;
  color: #00235d;
  cursor: pointer;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  align-items: center;
  transform-style: preserve-3d;
  /* transition: all 0.3s ease; */
}

.section-8-card-imgwrapper {
  min-width: 11.5rem;
  max-height: 100%;
  width: 11.5rem;
  aspect-ratio: 184 / 252;
  position: relative;
  align-self: stretch;
}

.section-8-card-imgwrapper img {
  width: 100%;
  aspect-ratio: 184 / 252;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}

.section-8-card-textwrapper {
  padding: 2rem 1.5rem 1.5rem 2rem;
  display: flex;
  padding-inline: 1.5rem;
  padding-block: 2rem;
  width: 100%;
  gap: 0.5rem;
  flex-direction: column;
  position: relative;
  font: 400 1rem / 2rem "Schibsted Grotesk";
  min-height: 100%;
  align-self: stretch;
}

.section-8-card-title {
  font: 600 2rem/ 2.5rem "Exo";
  margin: 0.25rem 0 0.5rem;
}

.section-8-card-btn {
  margin: auto -0.5rem -0.5rem auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.section-8 .sec3-btn {
  border: none;
}

.section-8-card-link {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  text-indent: -999em;
  overflow: hidden;
  z-index: 1;
}

.section-9 {
  padding: 0 88px;
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100%;
  margin-block: 5rem;
  position: relative;
}

.section-9-container {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
  gap: 0;
  padding-inline: 1rem;
  position: relative;
}

.section-9-container::after {
  width: 75vw;
  top: 50%;
  left: 25%;
  transform: translateX(-50%) translateY(-50%);
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  background: radial-gradient(
    ellipse at bottom center,
    #003690 0,
    #00235d 100%
  );
  transition: background-color 0.3s ease-in-out;
  border-top-right-radius: 6rem;
  border-bottom-right-radius: 6rem;
}

.section-9-content {
  grid-column: span 12;
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  padding-block: 6rem;
  grid-gap: 0;
  gap: 0;
  height: min-content;
  z-index: 4;
  position: relative;
  padding-bottom: 2.5rem;
}

.section-9-text {
  grid-column: span 8;
  display: flex;
  flex-direction: column;
  color: #fff;
  height: min-content;
  position: relative;
}

.section-9-text p {
  font: 600 1rem / 2rem "Schibsted Grotesk";
}

.section-9-text h3 {
  margin-bottom: 1.5rem;
  font: 500 3.5rem / 4rem "Exo";
}

.section-9-blog {
  grid-column: span 12;
  z-index: 3;
  margin-top: -3.5rem;
}

.section-9-carouselwrapper {
  filter: none;
  position: relative;
  z-index: 1;
}

.section-9-carousel {
  width: 100%;
  margin-top: 6rem;
}

.carousel-container {
  display: flex;
  width: 100%;
  transition: all 0.3s ease;
}

.carousel-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33% - 0.6666666667rem);
  min-height: unset;
  margin-right: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.carousel-blog {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: -8px 4px 40px 0 rgba(0, 35, 93, 0.08);
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top-right-radius: 2.5rem;
  isolation: isolate;
}

.carousel-blog-img {
  width: 100%;
  height: auto;
  min-height: 15.125rem;
  object-fit: cover;
  aspect-ratio: 424 / 290;
  position: relative;
  overflow: hidden;
}

.carousel-blog-category {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00112e;
  padding: 0.75rem 1rem;
  border-bottom-right-radius: 0.5rem;
  font: 700 0.75rem / 1rem "Schibsted Grotesk";
  text-transform: uppercase;
  color: #ccd6e8;
  z-index: 1;
}

.carousel-blog-img-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.carousel-blog-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #00112e;
  height: 100%;
}

.carousel-blog-title {
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
  text-decoration-color: #fff;
  color: #00358d;
  font: 400 1.5rem / 2rem "Schibsted Grotesk";
}

.carousel-blog-info {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  max-height: 4.5rem;
  overflow: hidden;
}

.carousel-blog-item-info {
  color: #99aed1;
  display: flex;
  margin-top: auto;
}

.carousel-blog-date {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font: 500 0.75rem / 1.5rem "Schibsted Grotesk";
  margin-top: 1.5rem;
  text-transform: uppercase;
}

.carousel-blog-date i {
  width: 1rem;
  height: 1rem;
}

.carousel-blog-date + .carousel-blog-date {
  padding-left: 1rem;
  margin-left: 1rem;
}

.carousel-blog-date + .carousel-blog-date::before {
  content: "";
  display: block;
  width: 0.0625rem;
  height: 1rem;
  background-color: #ccd6e8;
  margin-left: -1rem;
}

.carousel-blog-link {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  text-indent: -999em;
  overflow: hidden;
  z-index: 1;
}

.carousel-btnwrapper {
  display: flex;
  margin: 0;
  padding: 0 1.5rem;
  top: -6rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  right: 0;
  width: auto;
}

.carousel-btn {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00358d;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  border-radius: 50%;
  color: #fff;
}

.carousel-btn[disabled] {
  opacity: 0.4;
}
[disabled] {
  cursor: not-allowed !important;
}

.left-btn {
  transform: rotate(180deg);
}

button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}

.section-9 .carousel-btn .btn-icon {
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
}

.section-9 .carousel-btn:hover {
  background-color: #335da3;
}
.section-9-dotwrapper {
  margin-top: 2.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.carousel-blog-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #ccd6e8;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.carousel-blog-dot-selected {
  background-color: #fff;
  width: 0.75rem;
  height: 0.75rem;
}

.section-j {
  margin-block: 5rem;
  padding: 0 88px;
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.section-j-container {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.5rem;
  gap: 1.5rem;
  padding: 5.5rem 0;
  position: relative;
  perspective: 1200px;
}

.section-j-container::after {
  grid-column: 11 / span 2;
  height: 100%;
  border-top-left-radius: 6rem;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  border-top: 0.0625rem solid #99aed1;
  border-left: 0.0625rem solid #99aed1;
  transition: background-color 0.3s ease-in-out;
}

.section-j-card {
  padding: 5rem;
  grid-column: span 6;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: hidden;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  justify-content: center;
  transform-style: preserve-3d;
  z-index: 100;
}

.section-j-card:first-of-type {
  border-bottom-left-radius: 6rem;
  background-color: #ccd6e8;
}

.section-j-card:last-of-type {
  border-top-right-radius: 6rem;
  border-bottom-left-radius: 0;
  background: radial-gradient(ellipse at bottom left, #003690 0, #00235d 100%);
}

.section-j-title {
  font: 600 1rem / 2rem "Schibsted Grotesk";
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: #00358d;
}

.section-j-card:nth-of-type(2) .section-j-title {
  color: #fff;
}

.section-j-title .btn-icon {
  color: #00358d;
  width: 1.5rem;
  height: 1.5rem;
}
.section-j-card:nth-of-type(2) .section-j-title .btn-icon {
  color: #fff;
}

.section-j-info {
  font: 400 2rem / 3rem "Schibsted Grotesk";
  margin-bottom: auto;
  color: #fff;
}

.section-j-card:first-of-type .section-j-info {
  color: #00112e;
}

.section-j-card:nth-of-type(2) .sec3-btn span {
  color: #fff;
}

.section-j-card:nth-of-type(2) .sec3-btn-btn {
  background-color: #fff;
}

.section-j-card:nth-of-type(2) .btn-icon {
  color: #00112e;
}

.section-k {
  position: relative;
  overflow: hidden;
}

.section-k-darkmask {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  height: 100%;
  width: 50%;
}

.section-k-darkmask-rect {
  width: 50vw;
  height: 100%;
  min-height: 36rem;
  z-index: 1;
}

.section-k-lightmask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  min-height: 36rem;
  width: 50%;
}

.section-k-lightmask-rect {
  width: 50vw;
  height: 100%;
  min-height: 36rem;
  z-index: 1;
}

.section-k-imgwrapper {
  max-height: 100%;
  width: 50vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  border-top-right-radius: 6rem;
  overflow: hidden;
  aspect-ratio: 744 / 576;
}

.section-k-imgwrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(0, 35, 93, 0.6),
    rgba(0, 35, 93, 0.06)
  );
}

.section-k-img {
  height: calc(100% + 12.5rem);
}

.section-k-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section-k-content {
  min-height: 36rem;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.section-k-lightcontent {
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  position: absolute;
  -webkit-clip-path: url(#lightContactMask);
  clip-path: url(#lightContactMask);
}

.section-k-content-container {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
  gap: 0;
  padding-left: 88px;
  padding-right: 88px;
  max-width: 119.375rem;
  margin: 0 auto;
  position: relative;
}

.section-k-introwrapper {
  gap: 0;
  grid-column: 5 / span 8;
  margin-top: 11.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.section-k-title {
  font: 700 6.5rem / 7rem "Exo";
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  gap: 2.5rem;
  text-align: start;
  width: max-content;
  max-width: 85vw;
}

.section-k-title .sec3-btn-btn {
  width: 3.5rem;
  min-width: 3.5rem;
  height: 3.5rem;
  min-height: 3.5rem;
  border-radius: 50%;
  background-color: #ffd36a;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-out;
}

.section-k-intro {
  margin-left: 50%;
  color: #00112e;
  font: 400 1.25rem / 2rem "Schibsted Grotesk";
}

.section-k-darkcontent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 0;
  width: 100%;
}

.section-k-darkcontent .section-k-title {
  color: #00358d;
}

.section-k-darkcontent .sec3-btn-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  min-width: 2.5rem;
  height: 3.5rem;
  min-height: 2.5rem;
  border-radius: 50%;
  background-color: #00358d;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

.section-k-darkcontent .btn-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.section-k-darkcontent .sec3-btn-btn:hover {
  background-color: #335da3;
  transform: translateX(0.5rem);
}

.section-2 .inactive-paragraph p {
  transition: all 0s ease;
  opacity: 0;
  transform: translateY(-100%);
  max-height: 0px;
}

.carousel-item:hover .carousel-blog-img-img {
  transform: scale(1.05);
  opacity: 0.9;
}

.carousel-item:hover .carousel-blog-title {
  text-decoration: underline;
}

.line-overlay {
  overflow: hidden;
  height: 2px;
  background: #fff;
  transition: all 9.3s ease-in-out;
  width: 100%;
}

.inactive-paragraph .line-overlay {
  transition: none;
  width: 0%;
}

.inactive-paragraph h2 {
  color: #6685ba;
}

@media (max-width: 1326px) {
  .section-1,
  .section-3,
  .section-4,
  .section-5,
  .section-6,
  .section-7,
  .section-8,
  .section-9,
  .section-j,
  .section-2-container {
    padding: 0 40px;
  }
}

@media (max-width: 1140px) {
  .section-1 {
    margin: 6rem auto 0;
  }
  .section-1 h1 {
    font: 700 6.5rem / 7rem "Exo";
  }
}

@media (max-width: 900px) {
  .sec1-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    grid-gap: 1.5rem;
    padding: 0;
  }
  .section-1,
  .section-3,
  .section-4,
  .section-5,
  .section-6,
  .section-7,
  .section-8,
  .section-9,
  .section-j {
    padding: 0 16px;
  }
  .sec1-container::before,
  .section-1-svg {
    display: none;
  }
  .section-1-vid {
    grid-column: span 11;
    border: none;
    position: static;
    order: -1;
  }
  .darkcontent {
    padding: 1rem;
  }
  .lightcontent {
    display: none;
  }
  .section-8-container {
    grid-template-columns: repeat(4, 1fr);
    padding: 2.5rem 0;
    gap: 3rem;
  }
  .section-8-largetitle p {
    font: 500 3rem / 3.5rem "Exo";
  }
  .section-j-container {
    grid-template-columns: repeat(4, 1fr);
    padding: 1.5rem 0;
  }
  .section-j-card {
    grid-column: span 4;
    padding: 4rem;
  }
  .section-j-card:first-of-type {
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 0;
  }
  .section-j-card:last-of-type {
    border-top-right-radius: 0;
    border-bottom-left-radius: 6rem;
  }
  .section-j-container::after {
    grid-column: 3 / span 2;
    height: 60%;
    border-top-left-radius: 2.5rem;
  }
}

@media (max-width: 768px) {
  .section-1 h1 {
    font: 700 4rem / 4.375rem "Exo";
  }
  .section-2-container {
    padding: 0 16px;
    grid-template-columns: repeat(4, 1fr);
  }
  .section-2-carousel-container {
    grid-column: span 4;
    grid-template-columns: repeat(4, 1fr);
  }
  .section-2-content {
    padding: 0;
  }
  .section-2 .inactive-paragraph p {
    opacity: 1;
    transform: translateY(0);
    max-height: 500px;
  }
  .section-2 .inactive-paragraph h2 {
    color: #fff;
  }
  .section-2 .line-overlay {
    display: none;
  }
  .section-2-content-item {
    padding: 0 0 2rem;
  }
  .section-3-container {
    grid-template-columns: repeat(4, 1fr);
    padding: 2.5rem 0;
  }
  .section-3-content {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 0 40px;
  }
  .section-3-content::after {
    display: none;
  }
  .sec3-info {
    font: 400 1.375rem / 2rem "Schibsted Grotesk";
  }
  .section-4-container {
    grid-template-columns: repeat(4, 1fr);
    margin: 2.5rem 0;
    gap: 2.5rem;
  }
  .section-4-content {
    grid-column: span 4;
    grid-row: none;
  }
  .section-4-graphic {
    grid-column: span 4;
    grid-row: 1;
    max-width: unset;
  }
  .section-4-vid {
    transform: translateX(-4 rem) translateY(-50%);
  }
  .section-5-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .section-5-content {
    grid-column: span 4;
    grid-row: none;
    padding-top: 50%;
  }
  .section-5-graphic {
    grid-column: span 4;
    grid-row: 1;
    height: 60%;
  }
  .section-5-background {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
  }
  .section-5-vidwrapper {
    height: 50%;
    position: absolute;
  }
  .section-5-vidwrapper img {
    left: 25%;
    height: 50%;
    width: 50%;
  }
  .section-6-container {
    grid-template-columns: repeat(4, 1fr);
    margin: 2.5rem 0;
    gap: 2.5rem;
  }
  .section-6-content {
    grid-column: span 4;
    grid-row: unset;
  }
  .section-6-imgwrapper {
    grid-column: span 4;
    grid-row: 1;
  }
  .section-6-content h3 {
    font: 500 2.5rem / 3rem "Exo";
  }
  .section-7-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .section-7-about {
    grid-column: span 4;
    min-height: 26.25rem;
    display: flex;
    padding-bottom: 1.5rem;
  }
  .section-7-about-text {
    font: 700 3rem / 3.5rem "Exo";
  }
  .section-7-content {
    border: none;
    padding: 3rem 0 0;
  }
  .section-7-content::before {
    display: none;
  }
  .section-7-content-text {
    font: 500 3rem/3.5rem "Exo";
    grid-column: span 12;
  }
  .section-7-info-text {
    grid-column: span 12;
  }
  .section-7-info {
    padding: 2.5rem 0 4rem;
  }
  .section-8-container {
    grid-template-columns: repeat(4, 1fr);
    padding: 2.5rem 0;
    gap: 3rem;
  }
  .section-8-largetitle p {
    font: 500 3rem / 3.5rem "Exo";
  }
  .section-j-container {
    grid-template-columns: repeat(4, 1fr);
    padding: 1.5rem 0;
  }
  .section-j-card {
    grid-column: span 4;
    padding: 1.5rem 2rem;
  }
  .section-j-card:first-of-type {
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 0;
  }
  .section-j-card:last-of-type {
    border-top-right-radius: 0;
    border-bottom-left-radius: 2.5rem;
  }
  .section-j-container::after {
    grid-column: 3 / span 2;
    height: 60%;
    border-top-left-radius: 2.5rem;
  }
  .section-k-imgwrapper {
    width: calc(100% - 16px);
    height: 100%;
    max-height: 25rem;
    position: relative;
  }
  .section-k-content {
    min-height: 20rem;
  }
  .section-k-lightcontent {
    display: none;
  }
  .section-k-content-container {
    padding: 0 16px;
    grid-template-columns: repeat(4, 1fr);
  }
  .section-k-introwrapper {
    grid-column: span 4;
    gap: 1rem;
    margin: 1.5rem 0 0;
  }
  .section-k-title {
    font: 700 3.5rem / 4rem "Exo";
  }
  .section-k-intro {
    margin: 0;
    font: 400 1.125rem / 2rem "Schibsted Grotesk";
  }
}
