.footer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #00358d;
  padding: 4rem 0 2.5rem;
  position: relative;
  gap: 6rem;
}

.footer-dark {
  background-color: #ceaa53;
}

.footer-primary {
  flex-direction: row;
  gap: 6rem;
  padding: 0 88px;
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.footer-logowrapper {
  width: fit-content;
  align-self: flex-start;
}

.footer-logo {
  height: 2.5rem;
  width: 100%;
}

.footer-navwrapper {
  flex-direction: row;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer-nav-item {
  font: 500 0.75rem/ 1.5rem "Schibsted Grotesk";
  color: #99aed1;
}
.footer-dark .footer-nav-item {
  color: #000;
}
.footer-dark .footer-nav-item:hover {
  color: #655631;
}
.footer-nav-item:hover {
  color: #ccd6e8;
}

.footer-secondary {
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: flex-start;
  display: flex;
  padding-right: 9rem;
  gap: 1.5rem;
}

.footer-socials {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.footer-socials a {
  height: 1.5rem;
}

.footer-socials i {
  color: #6685ba;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
}
.footer-dark .footer-socials i {
  color: #655631;
}
.footer-socials i:hover {
  color: #99aed1;
}
.footer-dark .footer-socials i:hover {
  color: #1f1c16;
}

.footer-privacy {
  text-align: end;
  color: #99aed1;
  font: 500 0.75rem/1.5rem "Schibsted Grotesk";
}

.footer-privacy a {
  text-decoration: underline;
  color: #99aed1;
}
.footer-dark .footer-privacy a {
  color: #655631;
}
.footer-privacy a:hover {
  color: #ccd6e8;
}
.footer-dark .footer-privacy a:hover {
  color: #1f1c16;
}

.footer-madeby {
  left: 88px;
  margin-top: 0;
  position: absolute;
  bottom: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  z-index: 3;
  color: #99aed1;
  transition: all 0.1s ease-in-out;
}
.footer-dark .footer-madeby {
  color: #655631;
}

.footer-madeby span {
  text-decoration: none;
  line-height: 1;
  font: 500 0.75rem / 1.5rem "Schibsted Grotesk";
}

.footer-madeby svg {
  transition: all 0.1s ease-in-out;
  height: 1.25rem;
  color: #6685ba;
  display: block;
}
.footer-dark .footer-madeby svg {
  color: #655631;
}

.footer-madeby:hover {
  color: #ccd6e8;
}

.footer-madeby:hover svg {
  color: #ccd6e8;
}
.footer-dark .footer-madeby:hover {
  color: #1f1c16;
}

.footer-dark .footer-madeby:hover svg {
  color: #1f1c16;
}

@media (max-width: 1326px) {
  .footer-primary {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .footer-primary {
    flex-direction: column;
    gap: 6rem;
  }
  .footer-navwrapper {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer-logowrapper {
    width: 100%;
  }
  .footer-secondary {
    flex-direction: column;
    padding: 0;
  }
  .footer-socials,
  .footer-privacy {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer-madeby {
    position: static;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
