.nav-main {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
  flex-direction: column;
  height: auto;
  padding: 0;
  background-color: #f6faff;
  /* transform: translateY(-100%); */
  transition: all 0.3s ease-in-out;
}

.nav-darkmode {
  background-color: #2c2713;
}

.nav-secondary {
  width: 100%;
  background-color: rgba(204, 214, 232, 0.141);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0.25rem 40px;
  gap: 1rem;
}

.nav-secondary a {
  text-decoration: none;
  color: #335da3;
  margin: 0.25rem 0;
  padding: 0 1.0625rem 0 0;
  font: 500 0.75rem / 1.5rem "Schibsted Grotesk";
  line-height: 1rem;
  border-right: 0.0625rem solid #ccd6e8;
}

.nav-darkmode .nav-secondary a {
  color: #ceaa53;
  border-right: 0.0625rem solid #655631;
}

.nav-darkmode .nav-secondary {
  background-color: #2c2713;
}

.nav-secondary a:last-of-type {
  border: none;
  padding: 0;
}

.nav-primary {
  padding: 24px 40px;
  width: 100;
  display: flex;
  justify-content: space-between;
  position: relative;
  order: 2;
  flex-direction: row;
  height: 80px;
  background-color: #f6faff;
}

.nav-darkmode .nav-primary {
  background-color: #1f1c16;
  color: #f8e2ac;
  height: 97px;
}

.nav-logo-link {
  margin-top: 0;
  max-width: 2.5rem;
  max-height: 2rem;
  z-index: 100;
}
.nav-logo {
  height: 2.5rem;
}

.nav-logo-1 {
  color: #9faeb5;
}
.nav-logo-2 {
  color: #00358d;
}

.nav-darkmode .nav-logo-1 {
  color: #ceaa53;
}
.nav-darkmode .nav-logo-2 {
  color: #f8e2ac;
}

.nav-links-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: max-content;
  text-align: center;
  position: relative;
  transition: color 0.3s ease-in-out;
  color: inherit;
  font: 700 1rem / 2rem "Schibsted Grotesk";
}

.nav-dropdown-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
  flex-direction: column;
  border: 0;
  background: transparent;
  appearance: none;
  font: 700 1rem / 2rem "Schibsted Grotesk";
}

.nav-dropdown {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.nav-dropdown span {
  color: #1f1c16;
}
.nav-darkmode .nav-dropdown span {
  color: #f8e2ac;
}

.nav-dropdown-arrow {
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: inline-block;
  width: 0.75rem !important;
  height: 0.75rem !important;
}

.nav-dropdown-arrow svg {
  display: block;
}

.nav-links a span {
  transition: color 0.3s ease-in-out;
}
.nav-underline {
  transition: all 0.3s ease-in-out;
  width: 1.25rem;
  height: 0.375rem;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  display: block;
  transform: translateX(-50%);
  color: #6685ba;
  opacity: 0;
}

.nav-dropdown-container:hover .nav-dropdown-arrow {
  transform: rotate(180deg);
}

.nav-darkmode .nav-dropdown-arrow {
  color: #f8ebcb;
}

.nav-homebtn {
  color: #6685ba;
}

.nav-darkmode .nav-homebtn {
  color: inherit;
}

.nav-links a span:hover {
  color: #00358d;
}

.nav-darkmode .nav-links a span:hover {
  color: #f8e2ac;
}

.nav-home-underline {
  opacity: 1;
}

.nav-links a span:hover + svg {
  opacity: 1;
  color: inherit;
}

.nav-links {
  display: flex;
  align-items: center;
  padding-top: 0;
  gap: 2rem;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0;
  flex-direction: column;
  gap: 0;
  z-index: 9;
  width: max-content;
}

.nav-darkmode .nav-dropdown-contentbtn {
  background-color: #000;
  color: #f8e2ac;
}

.nav-dropdown-container:hover .nav-dropdown-content {
  display: flex;
}

.nav-dropdown-contentbtn {
  border-bottom: 1px solid #ebeef0;
  background-color: #fff;
  color: #00358d;
  font-weight: 500;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.nav-dropdown-contentbtn:last-of-type {
  border: none;
}

.nav-dropdown-contentbtn:hover {
  background-color: #ebeef0;
}

.nav-darkmode .nav-dropdown-contentbtn:hover {
  background-color: #000;
  color: #ceaa53;
}

.nav-hamburger {
  position: relative;
  display: flex;
  align-self: center;
  margin-left: auto;
  cursor: pointer;
  z-index: 2;
  color: #00112e;
  padding-top: 7px;
  display: none;
}

.nav-darkmode .nav-hamburger i {
  color: #f8e2ac;
}

.nav-hamburger i {
  width: 2.5rem;
  height: 2.5rem;
  color: #1f1c16;
}
.hamburger-menu {
  display: none;
}

.hamburger-inactive {
  transform: translateX(100%);
}

@media (min-width: 1326px) {
  .nav-secondary {
    padding: 0.25rem 88px;
  }
  .nav-primary {
    padding: 24px 88px;
  }
}

@media (max-width: 1140px) {
  .nav-secondary {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .nav-hamburger {
    display: flex;
  }
  .hamburger-menu {
    /* transform: translateX(0); */
    transition: all 0.3s ease-out;
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    top: 0;
    left: 0;
    background: radial-gradient(circle, #0048ba 8%, #00358d 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 3rem;
    transition: all 0.3s ease;
  }
  .nav-darkmode .hamburger-menu {
    background: #1f1c16;
  }

  .hamburger-primary {
    width: 100%;
    display: flex;
    padding: 0.875rem 1.5rem;
    order: 1;
    flex-direction: column;
  }
  .hamburger-secondary {
    width: 100%;
    display: flex;
    padding: 0.25rem 24px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    order: 2;
  }
  .hamburger-primarywrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: 100%;
    padding-top: 2.5rem;
  }
  .hamburger-primarywrapper a {
    color: #ccd6e8;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: max-content;
    text-align: center;
    position: relative;
    transition: color 0.3s ease-in-out;
    padding: 1rem 0;
    font: 700 1rem/2rem "Schibsted Grotesk";
  }
  .nav-darkmode .hamburger-primarywrapper a {
    color: #f8ebcb;
  }

  .hamburger-secondary a {
    margin: 0.25rem 0;
    color: #ccd6e8;
    padding: 0 1.0625rem 0 0;
    text-transform: uppercase;
    border-right: 2px solid #ccd6e8;
    font: 600 0.75rem/1.5rem "Schibsted Grotesk";
  }
  .nav-darkmode .hamburger-secondary a {
    color: #f8ebcb;
  }
}

@media (max-width: 768px) {
  .nav-logo {
    max-height: 2rem;
  }
  .nav-primary {
    padding: 28px 16px;
  }
}
